<div class="chat-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="title">Awesome Chat</h1>

    <span class="spacer"></span>

    <button [ngClass]="{mini: mobileQuery.matches}" class="user-dialog" mat-fab color="primary" (click)="openDialog()">
      <mat-icon aria-label="Person">person</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="chat-sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <a (click)="onClick(user)" mat-list-item routerLink="."
          *ngFor="let user of socketService.users">{{ user.name }}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-chat #chat></app-chat>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
