.content-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.chat-footer-container {
    display: flex;
    flex-shrink: 0;
    padding: 20px;
}

.chat-textarea {
    margin-right: 20px;
    width: 100%;
}

.messages-container {
    flex: 1 0 auto;
    overflow: auto;
    max-height: 500px;
}

.user-dialog {
    flex: 0 0 auto;
}

  
.user-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

mat-card {
    display: flex;
}